/* .heading {
  color: blue;
  font-family: "Courier New", Courier, monospace;
}
.my-para {
  font-size: 30px;
}

p {
  color: red;
  font-size: 20px;
} */

.heading {
  font-weight: bold;
  font-size: 60px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
